
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
:root {
  /* font-size: 10px; */
  --transition: all 0.3s linear;
  --overlay: rgba(0, 0, 0, 0.72);
  --white: rgb(248, 248, 248);
  --grey-dark:#8E8E8E;
  --grey-light:#C5C5C5;
  --primary-pink-01: #ff97c7;
  --primary-pink-02: #fcd8e9;
  --primary-blue-01: #489cf1;
  --primary-blue-02: #a2ecff;
  --title-font: "Noto Sans JP", sans-serif;
  --catch-font: "Zen Old Mincho", serif;
  --text-font: 'Montserrat', sans-serif;

}
h1,
h4 {
  font-family: var(--title-font);
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
button {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}

.parts-grid {
  display: grid;
  grid-template-columns: 1fr min(calc(100vw - (5vw * 2)), 1024px) 1fr;
}
.parts-grid > * {
  grid-column: 2;
}

.section-grid {
  display: grid;
  grid-template-columns: 1fr min(calc(100vw - (5vw * 2)), 1200px) 1fr;
}
.section-grid > * {
  grid-column: 2;
}

.section-center {
  margin-bottom: 1.875rem;
}
